REDIS_AUTH=
NEXTAUTH_SECRET=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_USER=
ENCRYPTION_KEY=
SALT=

# MinIO credentials - must match MINIO_ROOT_USER / MINIO_ROOT_PASSWORD
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID=
LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=
LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID=
LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY=
LANGFUSE_S3_BATCH_EXPORT_ACCESS_KEY_ID=
LANGFUSE_S3_BATCH_EXPORT_SECRET_ACCESS_KEY=