REDIS_AUTH=
NEXTAUTH_SECRET=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_USER=
ENCRYPTION_KEY=
SALT=

# MinIO credentials - must match MINIO_ROOT_USER / MINIO_ROOT_PASSWORD
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID=
LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=
LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID=
LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY=
LANGFUSE_S3_BATCH_EXPORT_ACCESS_KEY_ID=
LANGFUSE_S3_BATCH_EXPORT_SECRET_ACCESS_KEY=

# Github Oauth
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
AUTH_DISABLE_USERNAME_PASSWORD=true # Set to false to allow users to sign up with username/password, otherwise only Github login is allowed.
AUTH_DISABLE_SIGNUP=true # Set to false to allow users to sign up at first login with Github, otherwise only existing users can log in. by allowing signups temporarily and then disabling it again.